body {
  background-color: rgb(241 245 249); 
  color: rgb(51 65 85);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  font-weight: 700;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.note-name {
  font-size: 120px;
  margin: 20px;
}

canvas {
  position: absolute;
  /* opacity: 50%; */
  z-index: -100;
}
